.assistant-profilecard{
    border-radius: 12px !important;
    box-shadow: 0px 4px 16px #455b6314 !important;
    height: auto !important;
    width: 93% !important;
    text-align: right !important;
    border: none !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    background-color: #353A50 !important;
    color: white;
    padding: 16px;
    font-family: 'Almarai' !important;
}
.assistant{
    color: white;
    text-align: center !important;
}
.assistant-container .top-container{
    position: fixed;
    right: 16px;
    top: 15px;
    width: 46px;

}