.userappointment-container{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: visible;
    overflow-x: visible;
    /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
        font-family: 'Almarai' !important;

}
.bookedslot{
    background-color: #808080 !important;
}
.userappointment-container .top-container{
    position: fixed;
    right: 16px;
    top: 15px;
    width: 46px;

}
.appointmentdate-container{
    position: absolute;
    top: 145px;
    width: 100%;
    text-align: left !important;
    padding-left: 18px;

}

.aappointmentdate-container{
    position: absolute;
    top: 145px;
    width: 100%;
    text-align: right !important;
    padding-right: 18px;


}

.date-label{
    font-size: 1.2rem;
    font-weight: 600;
    color: #454F63;
    
    font-style: normal;
}

.slots-container{
    position: absolute;
    top: 280px;
    width: 100%;
    text-align: left !important;

}
.aslots-container{
    position: absolute;
    top: 280px;
    width: 100%;
    text-align: right !important;
    padding-right: 18px !important;

}
.MuiFormLabel-root{
    display: none !important;
}
.slots-label{
    font-size: 1.2rem;
    font-weight: 600;
    color: #454F63;
    
    font-style: normal;
    margin-left: 17px;

}

.description-label{
    font-size: 1.2rem;
    font-weight: 600;
    color: #454F63;
    
    font-style: normal;
    /* margin-left: 17px; */

}
.time-label{
    font-size: 1rem;
    font-weight: 600;
    color: #454F63;
    
    font-style: normal;
    margin-top: 10px;
}

.time-slot-set{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #454F63;
    
    font-style: normal;
    flex-wrap: wrap;

}

.time-slot-set div{
    padding:10px;
    flex: 1 0 21%;


}

.afternoon-label{
    font-size: 1rem;
    font-weight: 600;
    color: #454F63;
    
    font-style: normal;
    margin-top: 10px;

}

.afternoon-slot-set{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #454F63;
    
    font-style: normal;

}

.submit-container{
    margin-bottom: 100px !important;
    margin-top: 35px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

.submit-button{
    background-color: var(--turquoise-pearl) !important;
    border-color: var(--turquoise-pearl) !important;
    border-radius: 12px !important;
    width: 100% !important;
    height: 52px;
    color: var(--white) !important;
    font-size: 1rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    text-align: center !important;
}

.slot-error{
    color: red;
    font-size: 1rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    text-align: center;
}

.MuiPickersDay-daySelected{
    background-color: var(--turquoise-pearl) !important;;
}

.slot-description{
    margin-left: 17px;
    margin-top: 10px;
   padding-right: 3px;
}

.slot-description  .form-control {
    /* height: 0px !important; */
    /* width: 0px !important; */
    background-color:  white !important;
    border-color: #454F63 !important;
    color: var(--manatee) !important;
    border-radius: 12px !important;
    box-shadow: none !important;
    font-size: 0.938rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    opacity: 1 !important;
    width: 100% !important;
    margin-top: 10px !important;
  }

  .appointmentcheckbox-label{
      font-size: 1rem !important;
      font-family:'Almarai' !important;
      padding-right: 10px;
  }

  .visit-check{
      display: flex !important;
      margin-right: 4px !important;
  }
  .form-check .form-check-input{
      float: right !important;
      margin-left: 0px !important;
  }
  
  /* .form-control::placeholder {
    color: #454F63 !important; 
    font-family: var(--font-family-gibson-regular) !important;
    font-size: 0.938rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    opacity: 1 !important;
    padding-top: 100px !important;
    width: 100% !important;
  } 
   */