.bookings-container{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
    /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
    font-family: 'Almarai' !important;


}
.MuiTab-wrapper{
    /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
    font-family: 'Almarai' !important;

}

.bookings-container .top-container{
    position: fixed;
    right: 16px;
    top: 15px;
    width: 46px;

}
.bookings-container .tabs-container{
    /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
    font-family: 'Almarai' !important;


}

.arrow-image{
    width: 18px;
    height: 21px;
    cursor: pointer;
}

.share-image{
    width: 17px;
    height: 18px;
    margin-left: 10px;
}
.ashare-image{
    width: 17px;
    height: 18px;
    margin-right: 10px !important;
    /* float: right; */
    /* margin-right: 23px; */
}


.bookingtop-header{
    position: absolute;
    top: 45px;
    
    font-style: normal !important;
    font-size: 2.5rem !important;
    font-weight: 600;
    color: #454F63;
}

.bookingschat-card{
    border-radius: 12px !important;
    box-shadow: 0px 4px 16px #455b6314 !important;
    height: auto !important;
    width: 93% !important;
    text-align: left  !important;
      border:none !important;
      margin-left: auto;
      margin-right: auto;
      background-color: #353A50 !important;
      color: white;
      margin-top: 20px !important;
      /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
      font-family: 'Almarai' !important;


}
.bookingschat-card .card-body{
    height: auto !important;
}

.bookings-container .MuiGrid-container{
    margin-bottom: 15px !important;
}
/* .bookingschat-card0{
    margin-top: 20px !important;
} */

.appointment-breakline{
    color: #FFFFFF !important;
  opacity: 0.05 !important;
  margin: 1rem 0 !important;
    height: 1px !important;
}   

.userappointment-basic-container{
    display: flex;    
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    direction: ltr;
}

.user-appointmentdate{
    
    font-style: normal !important;
    font-size: 0.9rem !important;
    font-weight: 600 !important;
    color: #FFFFFF !important;
    margin-left: 15px;

}


.userappointment-speciality {
    font-weight: 600;
    margin-right: 15px;
    font-size: 0.9rem !important;
}
.userappointment-details{
    display: flex;
    margin-bottom: 10px;
}
.userappointment-details img{
    width: 36px;
    height: 36px;
    border-radius: 12px;
    margin-left: 17px;
    margin-right: 18px;
}

.userappointment-details .user-name{
    flex-basis: 22%;
    margin-left: 15px;
}

.status-container .form-check-input:checked {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}


.status-container .form-check-input:checked[type=radio] {
    background-image: none !important;
}

.status-container .form-check label{

    font-size: 1rem !important;
    padding-left: 18px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.status_appointment{
    float: right;
    padding: 10px;
    font-size: 1rem !important;
    color: white;
}

.no-adata{
    font-size: 2rem;
    line-height: 54vh;
    margin-left: auto;
    margin-right: auto;
}