.bulkupload{
    padding-top: 80px;
    color: #fff;
    display: flex;
}

.bulkupload-container{
    padding-top: 80px;
    color: #fff;
    display: flex;
}

.bulkupload-label{
    display: block;
    float: left;
    margin-left: 50px;
    margin-bottom: 10px;
    color: var(--manatee) !important;
    /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
    font-family: 'Almarai' !important;

    font-size: 0.938rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    margin-right: 17px;
}

.bulkupload-button {
    display: block !important;
    background-color: var(--blueberry) !important;
    border-color: var(--blueberry) !important;
    border-radius: 12px !important;
    width: 20% !important;
    height: 52px !important;
    color: var(--white) !important;
    /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
    font-family: 'Almarai' !important;

    font-size: 0.938rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 45px !important;
    margin-bottom: 120px;
}

.bulkvalidation-error{
    color: var(--manatee);
    font-size: 0.938rem;
    float: center;
    margin-bottom: -22px;
    float: left;
    margin-left: 153px;
}

.bulkupload-table{
    color: white !important;
    width: 60% !important;
    margin-top: 29px;
    margin-left: 45px;
}

.upload-buttons{
    display: flex;
    width: 65%;

}

.addsingle-doctor{
    cursor: pointer;
    color: var(--manatee) !important;
    /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
    font-family: 'Almarai' !important;

    font-size: 0.938rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
}

.content-adddoctor{
    background-color: transparent;
  position: absolute;
  top: 132px;
}


.adddoctor-button {
    background-color: var(--blueberry) !important;
    border-color: var(--blueberry) !important;
    border-radius: 12px !important;
    width: 100% !important;
    height: 52px !important;
    color: var(--white) !important;
    /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
    font-family: 'Almarai' !important;

    font-size: 0.938rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    margin-top: 5px !important;
  }

  .singleuplaod-container{
      display: flex;
      flex-direction: column;
  }
  