.react-pdf__Page__canvas{

    width: 97%  !important;
    height: 40%  !important;
}

.acertificate-container{
    text-align: right  !important;
}

.certificate-container{
    text-align: left  !important;
}
.covidcertificate-file{
 padding-left: 10px  !important;
 padding-right: 10px !important;
}