.dashboard-container{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: visible;
    overflow-x: visible;
    font-family: 'Almarai' !important;
}

.dashboard-container .user-details{
  position: absolute;
  top: 325px;
  width: 93% !important;
}

.covidstatus-label{
  font-weight: bold;
  font-size: 13px;

}

.dashboard-container  .user-card{
  border-radius: 12px !important;
  height:auto !important;
  width: 100% !important;
  text-align: left  !important;
    border:none !important;
    background-color: #FFFFFF !important;
    min-height: 220px !important;
  }

  .dashboard-container  .auser-card{
    border-radius: 12px !important;
    height:auto !important;
    width: 100% !important;
    text-align: right  !important;
      border:none !important;
      background-color: #FFFFFF !important;
      min-height: 220px !important;
    }
  .dashboard-container .usercard-data{
    margin: 6px !important;
    font-size: 0.813rem;
    font-style: normal;
    color: #2A2E43;
  }
  .user-speciality{
    font-weight: 600;
    font-size: 14px;
  }
  .userdetails-card{
    display: flex;
  }
  .userdetails-image-container {
    width: 64px;
    height: 64px;
    border-radius: 12px;
    display: flex;
  }
  
  .userdetails-image-container  img{
    width: 50px;
    height: 50px;
    margin: auto;
  }


  .card-body{
    padding: 0px !important;
  }

  .user-break-line{
      height: 3px !important;
      color: #555869 !important;
      width: 134px !important;
      border-radius: 1px;
      opacity: 0.5;
      margin-top: 2px;
      margin-bottom: 6px;
  }
.user-options-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  top: 575px;
  font-size: 1.375rem;
  font-style: normal;
  color: #FFFFFF;
  font-weight: 600;

}

.option-label{
  font-size: 0.75rem;
  opacity: 0.5;
}
.option-break-line {
  height: 5vh !important;
  width: 1px !important;
  color: #FFFFFF !important;
  opacity: 0.1 !important;
  margin: 0px !important;
  margin-top: 4px !important;
}


.user-features-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  top: 641px;
  width: 100%;

}
.container{
  margin-bottom: 60px !important;
}

.card-group{
  display: flex !important;
    flex-direction: row !important;
    width: 100% !important;


}

.user-features-container .card{
  width: 125px !important;
  height: 125px !important;
}

.col-4{
  height: 125px !important;
  display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF !important;
    font-size: 0.875rem;
    font-style: normal;

}

.userchat-card{
  background: #3497FD 0% 0% no-repeat padding-box !important;
  border: 1px solid #3497FD !important;
  cursor: pointer;
  
}

.userbooking-card{
 background: #5773FF 0% 0% no-repeat padding-box !important;
 cursor: pointer;

}
.userpayments-card{
  background: #665EFF 0% 0% no-repeat padding-box!important;
  cursor: pointer;

}
.userprofile-card{
  background: #3497fdf0 0% 0% no-repeat padding-box !important;
  cursor: pointer;

}

.useraccount-card{
  background: #5773fff0 0% 0% no-repeat padding-box !important;
  cursor: pointer;

}
.userlogin-card{
  background: #665efff0 0% 0% no-repeat padding-box!important;
  cursor: pointer;

}

.chat-image-container img{
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
}

.row-col-container {
  max-width: 100% !important;
}
.dashboard-education{
  font-weight: bold;
    font-size: 14px;
}

.dashboard-institute{
  font-weight: bold;
    font-size: 13px;
}

@media screen and (min-width: 700px) and (max-width:1019px) {
  .dashboard-container .user-details{
    top: 380px !important
  }
  .user-options-container{
    top: 606px !important;
  }
  .user-features-container{
    top: 676px !important;
  }
}


@media screen and (min-width: 1020px) {
  .dashboard-container .user-details{
    top: 500px !important
  }
  .user-options-container{
    top: 737px !important;
  }
  .user-features-container{
    top: 832px !important;
  }
}

.services-container{
  width: 100% !important;
  direction: rtl !important;
}


.addbin-button{
  display: block !important;
    background-color: var(--blueberry) !important;
    border-color: var(--blueberry) !important;
    border-radius: 12px !important;
    width: 97% !important;
    height: 52px !important;
    color: var(--white) !important;
    font-size: 0.938rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 58px !important;
    margin-bottom: 10px !important;
}

.bin-containercard {
  border-radius: 12px !important;
  box-shadow: 0px 4px 16px #455b6314 !important;
  height: auto !important;
  width: 93% !important;
  /* text-align: right !important; */
  border: none !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #353A50 !important;
  color: white;
  padding: 16px;
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;
}

.useraddbin-button {
  display: block !important;
  background-color: var(--fiord) !important;
  border-color: var(--fiord) !important;
  border-radius: 12px !important;
  width: 28% !important;
  height: 43px !important;
  color: var(--white) !important;
  font-size: 0.938rem !important;
  font-style: normal !important;
  font-weight: 600 !important;
  /* margin-left: auto !important; */
  /* margin-right: auto !important; */
  margin-right: 10px;
  font-family: 'Almarai' !important;
  margin-bottom: 17px;
}


.content-bincontainer{
  margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 34px;
    width: 100% !important;
    /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
    font-family: 'Almarai' !important;
}