.dashboard-container{
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Almarai' !important;
}

.top-header {
  position: absolute;
  top: 45px;
  font-style: normal !important;
  font-size: 2.5rem !important;
  font-weight: 600;
  color: #454F63;
}
.tabs-container {
  flex-grow: 1;
  position: absolute;
  top: 115px;
  width: 100% !important;
  overflow-x: hidden;
  overflow-y: visible;
  bottom: 40px;
}
.bin-containercard {
  border-radius: 12px !important;
  box-shadow: 0px 4px 16px #455b6314 !important;
  height: auto !important;
  width: 93% !important;
  /* text-align: right !important; */
  border: none !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #353A50 !important;
  color: white;
  padding: 16px;
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;
}

.search-paginationcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 16px;
}

.useraddbin-button {
  display: block !important;
  background-color: var(--fiord) !important;
  border-color: var(--fiord) !important;
  border-radius: 12px !important;
  width: 28% !important;
  height: 43px !important;
  color: var(--white) !important;
  font-size: 0.938rem !important;
  font-style: normal !important;
  font-weight: 600 !important;
  /* margin-left: auto !important; */
  /* margin-right: auto !important; */
  margin-right: 10px;
  font-family: 'Almarai' !important;
  margin-bottom: 17px;
}

.bin_searchcontainer {
  height: 41px !important;
  width: 44% !important;
  background-color: var(--fiord) !important;
  border-color: var(--fiord) !important;
  color: var(--manatee) !important;
  border-radius: 12px !important;
  box-shadow: 0px 3px 15px #0000001f !important;
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;
  font-size: 0.938rem !important;
  font-style: normal !important;
  font-weight: 600 !important;
  opacity: 1 !important;
}
.content-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 34px;
  width: 100%;
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;
}
.addbin-button{
  display: block !important;
    background-color: var(--blueberry) !important;
    border-color: var(--blueberry) !important;
    border-radius: 12px !important;
    width: 97% !important;
    height: 52px !important;
    color: var(--white) !important;
    font-size: 0.938rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 58px !important;
    margin-bottom: 10px !important;
}

.bintable-container {
  color: var(--fiord) !important;
}

.bin-row td, th {
  color: var(--manatee) !important;
  padding-right: 8px !important;
}



.row-col-container {
  max-width: 100% !important;
}





.MuiGrid-container {
  margin-bottom: 70px !important;
}
.MuiGrid-grid-xs-12 {
  padding: 12px !important;
}


thead {
  height: 54px !important;
  background-color: var(--fiord) !important;
  color: #fff !important;
  line-height: 54px !important;
}




.alllabel {
  color: var(--manatee) !important;
  font-size: 0.938rem !important;
  font-style: normal !important;
  font-weight: 600 !important;
  margin-bottom: 10px;
  display: flex !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.content-form .form-control, .timeslotform .form-control {
  height: 52px !important;
  width: 97% !important;
  background-color: var(--fiord) !important;
  border-color: var(--fiord) !important;
  color: var(--manatee) !important;
  border-radius: 12px !important;
  box-shadow: 0px 3px 15px #0000001f !important;
  font-size: 0.938rem !important;
  font-style: normal !important;
  font-weight: 600 !important;
  opacity: 1 !important;
  margin-left: auto;
  margin-right: auto;
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;
}

