.page-searchcontainer{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px !important;

    /* justify-content: space-evenly; */
}

.loading{
    text-align: center;
    font-size: 2rem;
  }

  .page-searchcontainer .form-control{
    height: 40px !important;
    width: 200px !important;
    background-color:  #fff !important;
    border-color: black !important;
    color: black !important;
    border-radius: 12px !important;
    box-shadow: none !important;
    /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
    font-family: 'Almarai' !important;

    font-size: 0.938rem !important;
    font-style: normal !important;
    font-weight: 400 !important;
    opacity: 1 !important;
    margin-left: 10px;
  }
  .page-searchcontainer .form-control::placeholder{
    color: black !important;
    font-weight: 400 !important;
  }

  .doctortable-container{
    margin-bottom: 60px !important;
  }

  .status-button{
    font-size: 0.75rem!important;
    /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
    font-family: 'Almarai' !important;

    font-style: normal !important;
    background-color: #454f63 !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    width: 70px !important;
  }

  .table-sm>:not(caption)>*>* {
    /* padding: 0rem 0rem !important; */
  }

  .selectdoctor-container{
    padding: 10px !important;
    width: 200px !important;
    height: 40px !important;
    margin-left: 10px !important;
    border-radius: 12px !important;
    background-color: #fff !important;
    color: black !important;
    border-color: black !important;
  }

  .MuiPaginationItem-textPrimary.Mui-selected {
    background-color: #454f63 !important;
}

.doctortable-container thead{
  height: 54px !important;
  background-color: #454f63 !important;
  color: #fff !important;
  line-height: 54px !important;
}


 /* .doctortable-container tbody tr,td{
  color: #212529 ;
} */
