/* screen - get-started */

.get-started {
  background-color: var(--white);
  height: 812px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.get-started .back-gJiVk1 {
  background-color: transparent;
  bottom: calc(44.44% - 7px);
  color: var(--fiord);
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;

  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 600;
  height: 16px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: calc(49.21% - 19px);
  text-align: center;
  white-space: nowrap;
  width: 38px;
}
.get-started .back-gradient-7AdSuJ {
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 46.14%, rgba(255, 255, 255, 0) 100%);
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.get-started .background-EZQQ1p {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.get-started .bars-time-black-Lm3wCU {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 54px;
}
.get-started .battery-Lm3wCU {
  background-color: transparent;
  height: calc(100.00% - 5px);
  position: absolute;
  right: 0px;
  top: 2px;
  width: 24px;
}
.get-started .bg-230BF3 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.get-started .bg-NsMhFc {
  background-color: var(--dodger-blue);
  border-radius: 12px;
  box-shadow: 0px 12px 16px #00000010;
  height: calc(100.00% - 92px);
  position: absolute;
  right: 0px;
  top: 46px;
  width: 295px;
}
.get-started .bg-Q8CF2U {
  background-color: var(--blueberry-2);
  border-radius: 12px;
  box-shadow: 0px 12px 16px #00000010;
  height: calc(100.00% - 92px);
  left: 0px;
  position: absolute;
  top: 46px;
  width: 295px;
}
.get-started .bg-T8jCbD {
  background-color: var(--blueberry);
  border-radius: 12px;
  box-shadow: 0px 12px 16px #00000010;
  height: 100%;
  left: calc(50.00% - 148px);
  position: absolute;
  top: 0px;
  width: 295px;
}
.get-started .bg-XOZwai {
  background-color: var(--blueberry);
  border-radius: 12px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.get-started .bg-gJiVk1 {
  background-color: #78849e29;
  border-radius: 12px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.get-started .border-kY5E5r {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 2px);
}
.get-started .bottom-C61RwL {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 788px;
  width: 375px;
}
.get-started .btn-blue-xUsx1L {
  background-color: transparent;
  bottom: 0px;
  height: 52px;
  position: absolute;
  right: calc(38.71% - 60px);
  width: 155px;
}
.get-started .btn-gray-xUsx1L {
  background-color: transparent;
  bottom: 0px;
  height: 52px;
  left: calc(39.18% - 64px);
  position: absolute;
  width: 164px;
}
.get-started .cap-kY5E5r {
  background-color: transparent;
  height: 4px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 2px);
  width: 1px;
}
.get-started .capacity-kY5E5r {
  background-color: transparent;
  height: 7px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 4px);
  width: 18px;
}
.get-started .cellular-connection-D1f00s {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.get-started .cellular-connection-Lm3wCU {
  background-color: transparent;
  height: 11px;
  position: absolute;
  right: 50px;
  top: calc(50.00% - 5px);
  width: 17px;
}
.get-started .content-C61RwL {
  background-color: transparent;
  height: 692px;
  left: -271px;
  position: absolute;
  top: 80px;
  width: 917px;
}
.get-started .dot-WWt5pT {
  background-color: var(--shadow-blue);
  border-radius: 13px;
  height: 8px;
  left: 0px;
  opacity: 0.32;
  position: relative;
  top: 0px;
  width: 8px;
}
.get-started .dot-i1ss5E {
  background-color: var(--shadow-blue);
  border-radius: 13px;
  height: 8px;
  left: 0px;
  opacity: 0.32;
  position: relative;
  top: 0px;
  width: 8px;
}
.get-started .dot-qqeZbr {
  background-color: var(--shadow-blue);
  border-radius: 13px;
  height: 8px;
  left: 0px;
  opacity: 0.32;
  position: relative;
  top: 0px;
  width: 8px;
}
.get-started .dot-sSXmyL {
  background-color: var(--blueberry);
  border-radius: 23px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 8px;
}
.get-started .find-doctorscli-ats-app-or-text-C61RwL {
  background-color: transparent;
  color: var(--black-squeeze);
  /* font-family: var(--font-family-gibson); */
  font-family: 'Almarai' !important;

  font-size: var(--font-size-m);
  font-weight: 400;
  height: 334px;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 0.78;
  position: absolute;
  text-align: center;
  top: 153px;
  width: 329px;
}
.get-started .get-started-T8jCbD {
  background-color: transparent;
  bottom: calc(22.65% - 11px);
  color: var(--white);
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;

  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
  height: 49px;
  letter-spacing: 0.00px;
  line-height: 55px;
  position: absolute;
  right: calc(49.84% - 137px);
  text-align: center;
  white-space: nowrap;
  width: 275px;
}
.get-started .home-indicatorlight-7YEL5c {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.get-started .images-xUsx1L {
  background-color: transparent;
  height: calc(100.00% - 142px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.get-started .indicator-230BF3 {
  background-color: var(--scarpa-flow);
  border-radius: 1px;
  bottom: calc(42.86% - 1px);
  height: 3px;
  opacity: 0.5;
  position: absolute;
  right: calc(49.79% - 67px);
  width: 134px;
}
.get-started .next-XOZwai {
  background-color: transparent;
  bottom: calc(44.44% - 7px);
  color: var(--white);
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;

  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 600;
  height: 16px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: calc(48.74% - 18px);
  text-align: center;
  white-space: nowrap;
  width: 36px;
}
.get-started .paginationlight-xUsx1L {
  background-color: transparent;
  bottom: 83px;
  height: 8px;
  position: absolute;
  right: calc(49.36% - 28px);
  width: 56px;
}
.get-started .repeat-grid-sSXmyL {
  background-color: transparent;
  height: 8px;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 4px);
  width: 40px;
}
.get-started .span0-UW4S67 {
  /* font-family: var(--font-family-gibson-regular); */
  font-family: 'Almarai' !important;

  font-style: normal;
}
.get-started .span1-UW4S67 {
  /* font-family: var(--font-family-gibson-regular); */
  font-family: 'Almarai' !important;

  font-style: normal;
}
.get-started .status-barlight-7AdSuJ {
  background-color: transparent;
  height: 16px;
  left: 20px;
  position: absolute;
  top: calc(22.73% - 4px);
  width: calc(100.00% - 35px);
}
.get-started .status-barlight-PixuWe {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.get-started .time-EZQQ1p {
  background-color: transparent;
  bottom: 1px;
  height: 10px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  width: calc(100.00% - 27px);
}
.get-started .top-C61RwL {
  background-color: transparent;
  height: 82px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.get-started .wifi-Lm3wCU {
  background-color: transparent;
  height: 11px;
  position: absolute;
  right: 29px;
  top: 2px;
  width: 15px;
}
.get-started .wifi-bdExeS {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.get-started .x04-Z2xnye {
  background-color: transparent;
  height: 8px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 8px;
}
.get-started .x14-Z2xnye {
  background-color: transparent;
  height: 8px;
  left: 16px;
  position: absolute;
  top: 0px;
  width: 8px;
}
.get-started .x23-Z2xnye {
  background-color: transparent;
  height: 8px;
  left: 32px;
  position: absolute;
  top: 0px;
  width: 8px;
}
