
.dashboard-container .images-container{
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    overflow-x: hidden;
    height: 258px;
    overflow-y: hidden;
}



.images-container{
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    overflow-x: hidden;
    height: 258px;
    overflow-y: hidden;
}

.owl-carousel .owl-item img{
    height: 258px !important;
    border-radius: 12px !important;
    width: 93% !important;
    margin: auto !important;
}

.owl-theme .owl-nav{
    display: none !important;
}
.owl-theme .owl-dots{
    display: none !important;

}
/* .owl-carousel .active ~ .active:not(.active ~ .active ~ .active){

    width: 255.333px !important;
    -ms-transform: scale(1.2) !important;
    -webkit-transform: scale(1.2) !important;
    transform: scale(1.2) !important;
    z-index: 1 !important;
    border-radius: 12px !important;
    margin-left: -72px;
} */

.owl-carousel .owl-stage-outer{
    /* overflow: hidden !important; */
    overflow: visible !important;
}



  
  @media screen and (min-width: 1020px) {
    .owl-carousel .owl-item img{
        height: 258px !important;
    }
  
  }


  .slider-wrapper{
    height: 258px !important;
    border-radius: 12px !important;
    width: 93% !important;
    margin: auto !important;

  }
  .carousel .slide img{
      height: 258px !important;
  }
