.orthis-container {
  position: relative;
  width: auto;
  height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.orthis-container .welcome-to {
  position: absolute;
  bottom: 450px;
  background-color: transparent;
  color: var(--white);
  font-size: 2.625rem;
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 55px;
  text-align: center;
} 



.orthis-container .sub-text{
  font-size: 3.25rem;
  font-weight: 600 !important;

} 

.orthis-container .i-text{
  color: #FE0505;
  
}

.orthis-container .continue-with{
  background-color: transparent;
    bottom: 290px;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 0.75rem;
    font-weight: 600 !important;

}

.orthis-container .buttons-continue{
  width: 327px;
  height: 241px;
  position: absolute;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.orthis-container .bg-phone{
  background-color: #ffb900 !important;
  border-radius: 12px !important;
  width: 100% !important;
  height: 52px;
  color: var(--white) !important;
  font-size: 0.938rem !important;
  font-style: normal !important;
  font-weight: 600 !important;
  text-align: center !important;
}
.orthis-container .bg-email{
  background-color: var(--turquoise-pearl) !important;
  border-radius: 12px !important;
  width: 100% !important;
  height: 52px;
  color: var(--white) !important;
  font-size: 0.938rem !important;
  font-style: normal !important;
  font-weight: 600 !important;
  text-align: center !important;
}
.orthis-container .bg-facebook{
  background-color: #1877f2 !important;
  border-radius: 12px !important;
  width: 100% !important;
  height: 52px;
  color: var(--white) !important;
  font-size: 0.938rem !important;
  font-style: normal !important;
  font-weight: 600 !important;
  text-align: center !important;
  border: 1px solid #1877f2 !important;
}

.orthis-container .bg-whatsapp{
  background-color: #2aca3a !important;
  border-radius: 12px !important;
  width: 100% !important;
  height: 52px;
  color: var(--white) !important;
  font-size: 0.938rem !important;
  font-style: normal !important;
  font-weight: 600 !important;
  text-align: center !important;
}

.orthis-container .bottom-C61RwL{
  position: absolute;
  bottom:10px;
}

.orthis-container .home-indicatordark-7YEL5c {
  background-color: transparent;
  height: 100%;
  width: 100%;
}
.orthis-container .indicator-LHZjI1 {
  background-color: var(--white);
  border-radius: 1px;
  height: 3px;
  opacity: 0.2;
  width: 134px;
}