.logout{
  background-color: #2A2E43 !important;
  border-color:  #2A2E43 !important;
  float: right;
  margin-right: 17px;
  margin-top: 30px;
  font-size: 0.75rem !important;
  background-color: #2A2E43 !important;
  
  font-style: normal;
}
.clinic-doctor {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.clinic-doctor .top-C61RwL {
  background-color: transparent;
  left: 0px;
  position: absolute;
  top: 27px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}
.clinic-doctor .clinic-SJ3nmS{
  background-color: transparent;
  border-radius: 12px;
  width: 73px;
  height: 32px;
  text-align: center;
  padding: 8.5px;
  
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;
  color: black;


}
.clinic-doctor .doctor-SJ3nmS{
  background-color: transparent;
  border-radius: 12px;
  width: 73px;
  height: 32px;
  text-align: center;
  padding: 8.5px;
  
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  margin-left: 30px;
  color: black;


}

.content-clinic {
  background-color: transparent;
  position: absolute;
  top: 80px;
  overflow-x: hidden;
  bottom: 50px;

}
.content-doctor {
  background-color: transparent;
  position: absolute;
  top: 66px;
  overflow-x: hidden;
  width: 93% !important;
  /* bottom: 50px; */

}
.filtercontent-doctor{
  background-color: transparent;
  position: absolute;
  top: 110px;
  overflow-x: hidden;
  width: 93% !important;
}

.clinic-filter{
  position: absolute;
  /* top: 120px; */

}

.doctor-filter{
  /* position: absolute;
    top: 43px;
    width: 93%;
    height: 36px;
    background-color: #2A2E43;
    border-radius: 12px;
    opacity: 1;
    box-shadow: 0px 12px 16px #455b631a;
    z-index: 1; */
    position: fixed;
    right: 3px;
    top: 12px;
  
}
.doctor-filter-search{
  width: 20px;
  height: 20px;
  float: left;
  margin: 11px;
  cursor: pointer;
}
.filter-card{
  width: 94%;
  align-items: center;
  display: flex !important;
  flex-direction: row !important;
  height: 50px;
  margin-top: 54px;
}
.form-check label{
  padding-left:10px;
  
  font-size: 0.75rem;
  font-style: normal;

}

.doctor-filternone{
  display: none;
}
.form-check{
  display: inline-block !important;
}
.form-check-input:checked {
  background-color: #2A2E43 !important;
  border-color: #2A2E43 !important;
}
.form-check-input:focus {
  border-color: #2A2E43 !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem #41464b61 !important;
}

/* .clinic-data{
  position: absolute;
  top: 140px;
}
.doctor-data{
  position: absolute;
  top: 80px;
} */

.regular-image{
  height: 107px;
  border-radius: 12px !important;

}


.register-image{
height: 188px;
border-radius: 12px !important;

}

.featured-image{
  height: 247px;
  border-radius: 12px !important;

}
/* .featured-card  .lazyload-wrapper img {
  height: 247px !important;
} */

.featured-card .sc-bdfBQB{
  height: 247px !important;

}

/* .registered-card  .lazyload-wrapper img {
  height: 189px !important;
} */

.registered-card .sc-bdfBQB{
  /* height: 189px !important; */

}
/* 
.regular-card  .lazyload-wrapper img {
  height: 106px !important;
} */

.regular-card .sc-bdfBQB{
  height: 106px !important;

}
.lazyload-wrapper img {
  border-radius: 12px;
}
.sc-dlfnuX{
  border-radius: 12px !important;
}
.regular-card{
  border-radius: 12px !important;
  box-shadow: 0px 4px 16px #455b6314 !important;
  /* height: 13vh !important; */
  width: 100% !important;
  text-align: left  !important;
    /* background-image: url("/static/img/clinics/regular-clinic.jpg"); */
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    border:none !important;
    margin-left: auto;
    margin-right: auto;
}

.regular-card .card-title{
  color: white;
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;

  font-size: 1.125rem;
  font-style: normal;
  font-weight: bolder;
}
.regular-card .card-text{
  
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  color: white;
  
}

.featured-card{
  border-radius: 12px !important;
  box-shadow: 0px 4px 16px #455b6314 !important;
  /* height: 30vh !important; */
  width: 100% !important;
  text-align: left  !important;
    /* background-image: url("/static/img/clinics/1624340597271.jpg"); */
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    border:none !important;
    margin-left: auto;
    margin-right: auto;
}
.featured-card .card-title{
  color: white;
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;

  font-size: 1.125rem;
  font-style: normal;
  font-weight: bolder;
}
.featured-card .card-text{
  
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  color: white;
  
}
.featured-card .photo-doctor {
  background-color: transparent;
  border-radius: 12px;
  height: calc(26% + 21px);
  left: -10px;
  object-fit: fill;
  position: absolute;
  top: 8px;
  width: 85px;
  border: 1px solid #8eacd6;
}
.searchloader-container{
  width: 25% !important;
  height: 25% !important;
}
.add-card{
  border-radius: 12px !important;
  box-shadow: 0px 4px 16px #455b6314 !important;
  height: 13vh !important;
  width: 100% !important;
  text-align: left  !important;
    background-image: url("/static/img/clinics/1624341562544.jpg");
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    border:none !important;
    margin-left: auto;
    margin-right: auto;

}
.add-card .card-body{
  padding: 0px !important;
}
.add-card .card-title{
  color: white;
  
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  line-height: 13vh !important;
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;


}
.registered-card{
  border-radius: 12px !important;
  box-shadow: 0px 4px 16px #455b6314 !important;
  /* height: 23vh !important; */
  width: 100% !important;
  text-align: left  !important;
    /* background-image: url("/static/img/clinics/1624341562544.jpg"); */
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    border:none !important;
    margin-left: auto;
    margin-right: auto;
}
.registered-card .card-text{
  padding-top: 47px;
}

.registered-card .card-title{
  color: white;
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;

  font-size: 1.125rem;
  font-style: normal;
  font-weight: bolder;
}
.registered-card .card-text{
  
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  color: white;
  
}
.sub-card{
  border-radius: 12px !important;
  /* box-shadow: 0px 4px 16px #353b51 !important; */
  height: 44px !important;
  width: 85% !important;
  position: absolute !important;
  bottom: 0px !important;
  /* left: -12px; */
  /* z-index: 1; */
  background-color: #FFFFFF !important;
  opacity: 0.9;
  
}
.sub-card .card-body{
  padding:4px !important;
  display: flex;
  flex-direction: row;
}
.sub-doctor-speciality{
  color: #2A2E43;
  
  font-size: 0.813rem;
  font-style: normal;
  font-weight: 600;
  text-align: justify;

}

.sub-clinic-city{
  color:#2A2E43;
  
  font-size: 0.813rem;
  font-style: normal;

}
.sub-card .photo-registered-doctor{
  background-color: transparent;
  border-radius: 12px;
  height: 34px;
  width: 34px;
  border:1px solid #adb5bd;
  margin-right: 10px;
}
.sub-card .photo-registered-clinic{
  background-color: transparent;
  border-radius: 12px;
  height: 34px;
  width: 34px;
  border:1px solid #adb5bd;
  margin-right: 10px;
}
.photo-text{
  display: flex;
  flex-direction: row;
  width: max-content;
}
.break-line{
  color: #454f63 !important;
  opacity: 0.50 !important;
  margin: 0 !important;
}

.sub-doctor-text{
  color: #959dad;
  font-size: 11px;
  /* margin-bottom: 0rem !important; */
  
  font-size: 0.813rem;
  font-style: normal;
  font-weight: 600;
}
.doctor-name{
  color:#2A2E43;
  
  font-size: 0.813rem;
  font-style: normal;
  text-align: justify;

  /* margin-bottom: 0rem !important; */
}
.sub-doctor-name{
  padding-right: 12px  !important;
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;

}
.clinic-name{

  color: #2A2E43;
  
  font-size: 0.813rem;
  font-style: normal;
  font-weight: 600;
  /* margin-bottom: 0rem !important; */

}
.bottom-menu{
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 62px;
  right: 7px;
  height: 195px;
  justify-content: space-around;
}

.like{
  width: 16px;
  height: 16px;
  margin:auto;
}
.maps{
  width: 30px;
  height: 30px;
  margin:auto;
}
.chat{
  width: 25px;
  height: 25px;
  margin:auto;
}
.no-data{
  font-size: 0.9rem;
  /* line-height: 80vh; */
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;

}
.settings{
  width: 18px;
  height: 18px;
  margin:auto;
}
.heart-container{
  background-color: #FFFFFF;
  width: 52px;
  height: 52px;
  border-radius: 12px;
  display: flex;
}
.heart-container img{
  cursor: pointer;
}

.chat-container{
  background-color: #FFFFFF !important;
  width: 52px;
  height: 52px;
  border-radius: 12px;
  display: flex;

}
.chat-container img{
  cursor: pointer;
}
.clinic-card{
  width: calc(100.00% - 16px) !important;
  border-radius: 12px !important;
  box-shadow: 0px 4px 16px #455b6314 !important;
  height: 156px !important;
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;

}

.card-title{
  color: #454f63;
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;

  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
}
.card-text{
  
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  
}


.photo-NcUzCx{
  background-color: transparent;
  border-radius: 12px;
  height: calc(70% + 21px);
  left: -36px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 135px;
  border:1px solid #adb5bd;
}
.photo-doctor{
  background-color: transparent;
  border-radius: 12px;
  height: calc(70% + 21px);
  left: -36px;
  object-fit: fill;
  position: absolute;
  top: 12px;
  width: 135px;
  border:1px solid #adb5bd;

}






.MuiGrid-container {
  margin-bottom: 70px !important;
}

/* .css-2b097c-container{
  width: 42%;
  text-align: start;
  margin-left: 3px;
  margin-right: 3px;
  font-family: 'Almarai' !important;

  font-style: normal !important;
  font-size: 0.813rem !important;
}  */

.basic-single{
  width: 55%;
  text-align: start;
  margin-left: 3px;
  margin-right: 3px;
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;

  font-style: normal !important;
  font-size: 0.7rem !important;
}
.basic-singlelocation{
  width: 42%;
  text-align: start;
  margin-left: 3px;
  margin-right: 3px;
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;

  font-style: normal !important;
  font-size: 0.7rem !important;
}

.select__value-container{
  position: initial  !important;
  padding: 0px 1px !important;
}
.filter-form{
  display: flex !important;
  flex-direction: row !important;
  width: 100%;
}
.css-1pahdxg-control{
  border-color: #2A2E43 !important;
  box-shadow: 0 0 1px #2A2E43 !important;
}


.filter-button{
  display: block !important;
  font-size: 0.75rem!important;
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;

  font-style: normal !important;
  background-color: #2A2E43 !important;
 height: 38px;
 text-align: center !important;
 margin-left: 3px;

}
.show-data{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #FFFFFF;
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;

  font-size: 1rem !important;
  font-style: normal !important;
  font-weight: 600 !important;

}
.show-speciality{
  margin-top: 5px;

}
.show-between{
  font-size: 1.188rem;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  font-weight: 500;
}
.show-location{
  margin-top: 5px;

}
.white {
  color: #FFFFFF;
}
.search-box{
  position: absolute;
  top: 15px;
  /* z-index: 1; */
  width: 79%;
}

.search-box .form-control{
  background-color: #FFFFFF !important;
  border:1px solid rgba(0,0,0,.125) !important;
  height: 36px !important;
  opacity: 1 !important;
  width: 100% !important;
  box-shadow: 0px 0px !important;
  border-radius: 3px !important;
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;


}
.search-box .form-control::placeholder {
  color: #78849E !important; 
  /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
  font-family: 'Almarai' !important;

  font-size: 0.7rem !important;
  font-style: normal !important;
  font-weight: 600 !important;
  opacity: 1 !important;
  padding-top: 100px !important;
  width: 100% !important;
} 


.sidebar-container{
  
}





@media screen and (min-width: 700px) and (max-width:1019px) {
  .profile-details{
      top: 380px !important;
  }
}


@media screen and (min-width: 1020px) {
  .featured-card{
    height: 48vh !important;
  }
  .registered-card{
    height: 44vh !important;
  }
  .regular-card{
    height: 40vh !important;
  }
  .add-card{
    height: 40vh !important;
  }
  .add-card .card-title
{
  line-height: 40vh !important;
}
.sub-card{
  height: 55px !important;
}
.sub-card .photo-registered-doctor,.sub-card .photo-registered-clinic{
  width: 40px !important;
  height: 40px !important;
}
.sub-doctor-speciality,.doctor-name,.clinic-name,.sub-clinic-city{
  font-size: 1rem !important;
  
}

}

.loading-container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  width: 90%;
}

.MuiSkeleton-rectangular{
  width: 100% !important;
}

.infinite-scroll-component__outerdiv{
  width: inherit !important;
  height: inherit !important;
}

                              
.MuiGrid-grid-xs-12 {
  padding: 12px !important;
}