.settingbutton{
    width: 80%;
    height: 220px;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content: space-around !important;
    
}
.changelang{
    background-color: #353a50 !important;
    /* border: 1px solid var(--blueberry) !important; */
    border-radius: 12px !important;
    height: 52px !important;
    width: 100% !important;
    color: var(--white) !important;
    font-size: 0.938rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    text-align: center !important;
    /* -webkit-text-stroke: 1px #707070 !important; */
    margin-left: auto;
    margin-right: auto;
    padding: 12px !important;

}
.changepass{
    background-color: #353a50 !important;
    border-radius: 12px !important;
    width: 100% !important;
    height: 52px;
    color: var(--white) !important;
    font-size: 0.938rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
    padding: 12px !important;

}
.aboutus{
    background-color: #353a50 !important;
    /* border: 1px solid var(--blueberry) !important; */
    border-radius: 12px !important;
    height: 52px !important;
    width: 100% !important;
    color: var(--white) !important;
    font-size: 0.938rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    text-align: center !important;
    /* -webkit-text-stroke: 1px #707070 !important; */
    margin-left: auto;
    margin-right: auto;
    padding: 12px !important;
}