/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 19px;
    height: 19px;
    left: 15px;
    top: 24px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    width: 88px !important;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #2A2E43;
    padding-top: 1em;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 1.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    color: #d1d1d1;
    margin-bottom: 36px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;  
}
.bm-item:hover {
    color: #ffffff;
  }
  .bm-item:active {
    border: none !important;
  }
  
  
  /* Styling of overlay */
  .bm-overlay {
    background: none !important;
  }


 
  .menu-user-container{
    width: 64px;
    height: 64px;
    margin-left: -24px;
    outline: none !important;
}
a { border:0  !important; outline: none !important; }

.userimage-container{
  width: 64px;
  height: 64px;
  /* background-color: #a7b5ca; */
  border-radius: 12px;
  margin-left: -21px;
  display: flex;
}

.userimage-container img{
  width: 50px;
  height: 50px;
  margin: auto;
}

.where-to{
  position: fixed;
    top: 12px;
    left: 55px;
    color: #78849E ;
    /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
    font-family: 'Almarai' !important;

    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    z-index: 1;
}

.snavbar {
  /* width: 100%;
  padding: 10px;
  position: fixed;
  top: 0; */
  transition: top 0.6s;
}

.snavbarh {
  /* top: -80px; */
  display: none;
}

.menu-imagefile-container{
  width: 21px;
  height: 21px;
}

.menu-imagedonations-container{
  width: 23px;
  height: 23px;
}

.menu-home-container{
  width: 24px;
  height: 24px;
}
.menu-patient-container{
  width: 29px;
  height: 29px;
}
.menu-patientinfo-container{
  width: 25px;
  height: 25px;
}

.menu-setting-container{
  width: 24px;
  height: 24px;
}