.main-menu {
    position: absolute;
    top: 22px;
    display: flex;
    width: 327px;
    margin: auto;
}

.menu-image{
    width: 25px;
    height: 25px;
}

.where-to{
    margin-left: 20px;
    color: #78849E !important;
    /* font-family: 'Mada', 'Almarai','Cairo','Reem Kufi' !important; */
    font-family: 'Almarai' !important;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}